<h6 class="mt-3 mb-3">Popular repositories</h6>
<div class="row">
    <div class="col-6 mb-3 small-screen" *ngFor="let each_repo of users_repos">
        <app-cards [repo_data]=each_repo [slector]='"overview"'></app-cards>
    </div>

    <div class="col-12 mb-3 big-screen" *ngFor="let each_repo of users_repos">
        <app-cards [repo_data]=each_repo [slector]='"overview"'></app-cards>
    </div>
</div>

<div>
    <h6>{{user_contributions}} contributions in the last year</h6>
</div>
<div class="card" style="width: 100%">
    <div class="card-body">
        <plotly-plot *ngIf="z_array.length" [data]="graph?.data" [useResizeHandler]="true"></plotly-plot>
    </div>
</div>