<div class="container">
    <div>
        <img class="center" src="assets/pofile_photo.jpeg" alt="">
    </div>
    <br>
    <h3 class="ml-5">Srujan R</h3>
    <h4 class="ml-5" style="color: grey;">srujanr</h4>
    <h5 class="ml-5" style="font-weight: 300;">Telecom engineer turned into a Web developer.</h5>
    <button type="button" class="btn btn-outline-secondary ml-5" style="width: 90%;">Edit profile</button>
    <div class="ml-5 mt-3">
        <li class="fa fa-users "></li> 0 followers . 1 following .
        <li class="fa fa-star-o"></li> 0
    </div>
    <div class="ml-5 mt-3">
        <li class="fa fa-map-marker"></li> Bangalore
    </div>

</div>