.a-link {
    text-decoration: none;
    font-weight: 300;
    color: black;
}

.active {
    text-decoration: underline;
    text-decoration-color: rgb(255, 123, 0);
    text-decoration-thickness: 15%;
    font-weight: bold;
}

@media only screen and (max-width: 760px) {
    .small-screen {
        display: none;
    }
}

@media only screen and (min-width: 760px) {
    .big-screen {
        display: none;
    }
    div.scrollmenu a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }
    .big-screen-margin-top {
        margin-top: -8vh;
    }
    .big-screen-a {
        margin-left: 0px;
    }
}