.a-link {
    text-decoration: none;
    font-weight: 300;
    color: black;
}

.active {
    text-decoration: underline;
    text-decoration-color: rgb(255, 123, 0);
    text-decoration-thickness: 15%;
    font-weight: bold;
}

@media only screen and (max-width: 760px) {
    .small-screen {
        display: none;
    }
}

@media only screen and (min-width: 760px) {
    .big-screen {
        display: none;
    }
    .small-div-nav {
        display: flex !important;
        overflow-x: auto !important;
        overflow-y: hidden !important;
    }
    .big-screen-margin-top {
        margin-top: -8vh;
    }
    .big-screen-a {
        margin-left: 0px;
    }
}

.container-outer {
    overflow: scroll;
}

.container-inner {
    width: 570px;
}